 <nav class="navbar navbar-default navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          <i class="fa fa-circle-o-notch"></i> Loopjam
        </a>
      </div>
          <!-- AddThis Button BEGIN -->
     <ul class="nav navbar-nav navbar-right" style="margin-top: 16px; opacity: 0.8; display:inline-block;">
        <a href="http://www.reddit.com/r/loopjam" target="_blank"> <img style="margin-top: -33px;" src="http://icons.iconarchive.com/icons/fasticon/social-bookmark/32/Reddit-icon.png" /> </a>
       <div class="addthis_toolbox addthis_default_style" style="display: inline-block;">
         <a class="addthis_button_facebook_like" fb:like:layout="button_count" fb:like:href="http://www.facebook.com/loopjamapp"></a>
         <a class="addthis_button_tweet" addthis:url="http://www.loopjam.in" tw:text="Create layered-looped music and share in the browser."></a>
         <a class="addthis_counter addthis_pill_style" addthis:url="http://www.loopjam.in"></a>
       </div>
        <!-- AddThis Button END -->
     </div>
   </ul>
 </nav>

<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-563fc89689523903" async="async"></script>
